.bild-100x100 {
    width: 100px;
    height: 100px;
}
.text-gruen {
    color: #34ff34;
}
.text-allign-middle{
    text-align: center;
}
* {
    border : 1px solid black;
}
.text-bold {
    font-weight: bold;
}
.p-10 {
    padding: 10px;
}
.li-abstand {
    margin-bottom: 10px;
}